body{
	background-repeat: no-repeat;
	background-size: 120%;
	height: 80%;
	width: 100%;
}

h1{
	font-family: Arial;
	margin-top:0;
	font-size: 40px;
	font-weight: 900;
	opacity: 1;
}

h2{
	font-family: Arial;
}

.input_RCNdetail{
	border-width: 0px;
	background-color: rgba(228, 228, 229, 0.8);
	font-size: 20px;
	width: 150px;
	text-align: center;
}

#username{
	font-family: Arial;
	font-weight: bold;
	font-size: 30px;
}

.table_2{
	margin-top: 20px;
}

.login_text-box{
	margin-bottom: 25px;
}

.login_text-box2{
	margin-bottom: 2px
}

#errormsg{
	color: red;
	font-size: 25px;
}

#login-signup-style 
{ 
	background: white; 
	width: 200px;
	font-size: 25px;
	font-family: Arial;
	color: rgba(0,0,0,.8); 
	padding: 6px 1px 6px 15px; 
	border-radius: 5px;
	box-shadow: 0px 0px 1px #ccc inset; 
	outline:0;
} 