body{
	background-image: url('/images/rowingpic.jpg');
	background-size: 100%;
	background-repeat: repeat-y;
}
h1{
	font-family: Arial;
	font-size: 40px;
	font-weight: 900;
	opacity: 1;
}
h2{
}
div#menubar_1 > a{
}

div#menubar_1 > a:hover{
	background: rgba(234, 127, 0, 1);
	color: #FFF;
	box-shadow: 0px 0px 15px #000000;
}
div#log > a{
}
div#log > a:hover{
	background: rgba(234, 127, 0, 1);
	color: #FFF;
}

#username{
	font-family: Arial;
	font-weight: bold;
	font-size: 30px;
}

table{
}
input[readonly]{
	background: grey;
}
.table_1{
}
.table_2{
	margin-top: 20px;
}
.golfer_table{
	margin-top:100px;
	background-size: 10%;
	width: 895px;
}
p{
	font-family: Arial;
	font-weight: bold;
	display:inline-block;
	margin-right:5px;
	opacity: 1;
}
#title span{
	font-size: 1.5em;
	color: rgba(234, 127, 0, 1);
}
.text_space{
	margin-bottom: 25px;
}
.text_space2{
	margin-bottom: 2px
}

.text_club{
	background: white; 
	font-size: 25px;
	font-family: Arial;
	color: rgba(0,0,0,.8); 
	width: 300px; 
	padding: 6px 1px 6px 15px; 
	border-radius: 5px;
	box-shadow: 0px 0px 1px #ccc inset; 
	transition:200ms all ease;
	outline:0;

}
.text_name{
	background: white; 
	font-size: 25px;
	font-family: Arial;
	color: rgba(0,0,0,.8); 
	width: 300px; 
	padding: 6px 1px 6px 15px; 
	border-radius: 5px;
	box-shadow: 0px 0px 1px #ccc inset; 
	transition:200ms all ease;
	outline:0;
}

.text_club{
	background: white; 
	font-size: 25px;
	font-family: Arial;
	color: rgba(0,0,0,.8); 
	width: 300px; 
	padding: 6px 1px 6px 15px; 
	border-radius: 5px;
	box-shadow: 0px 0px 1px #ccc inset; 
	transition:200ms all ease;
	outline:0;
}
.text_email{
	background: white; 
	font-size: 25px;
	font-family: Arial;
	color: rgba(0,0,0,.8); 
	width: 300px; 
	padding: 6px 1px 6px 15px; 
	border-radius: 5px;
	box-shadow: 0px 0px 1px #ccc inset; 
	transition:200ms all ease;
	outline:0;
}

.text_handicap{

	background: white; 
	font-size: 25px;
	font-family: Arial;
	color: rgba(0,0,0,.8); 
	width: 100px; 
	padding: 6px 1px 6px 15px; 
	border-radius: 5px;
	box-shadow: 0px 0px 1px #ccc inset; 
	transition:200ms all ease;
	outline:0;
}
#errormsg{
	color: red;
	font-size: 25px;
}
#text3 
{ 
	background: white; 
	width: 200px;
	font-size: 25px;
	font-family: Arial;
	color: rgba(0,0,0,.8); 
	padding: 6px 1px 6px 15px; 
	border-radius: 5px;
	box-shadow: 0px 0px 1px #ccc inset; 
	outline:0;
} 

#text3:hover 
{ 
} 