{% extends "layout.html" %}
  {% block main %}


  <div class="fb-like" data-send="true" data-width="450" data-show-faces="true"></div>

  <p>This is a test app to demonstrate SimpleAuth.</p>
    {% if logged_in %}
      <p>Hey there. Looks like you're logged in already.</p>
      <a href="{{ url_for('profile') }}" class="btn">my profile</a>
      <a href="/logout" class="btn">logout</a>
    {% else %}
      <p>Try logging in with one of these:</p>
      <p>
        <a href="/auth/facebook" class="btn">Facebook</a>
      </p>



    {% endif %}
  {% endblock %}