<!doctype html>
<html >
<head>
  <meta charset="utf-8">
  <title>Rowing Time</title>
  <meta name="Paul Ventisei" content="Rowing Times">
  <link rel="stylesheet" type = "text/css" href="css/style.css">
</head>

  <table border="0" align="center" height="60px" width="895px" class="table_1">
    <tr>
      <td width="100%" align="center">
        <h1>Rowing Times</h1>
      </td>
    </tr>
    <tr> 
      <td width="33%" class="h2">
        <div id="menubar_1"><a HREF="/">Select Event</div>
      </td>
      <td width="34%">
        <div id="menubar_1"><a HREF="/static/help">Help</div>
      </td> 
      <td width="33%">
        <div id="menubar_1"><a HREF="/logout">logout</div>
      </td>
    </tr>
  </table>  
    {% block main %}

    {% endblock %}

  <footer>
    <nav><ul class="inline bull">
      <li>footer of my choosing:<br>
      </li>
    </ul></nav>
  </footer>
</body>
</html>
