{% extends "templates/layout.html" %}
{% block main %}
<HTML>
<body onload="myFunction()" id="body">
	<br>
	<form method="post" action="/login">
		<h2>Log In</h2><br>
		<input type="text" placeholder="email" id="login-signup-style" name="email" class="login_text-box2" value = {{email}}> 
		<br> 
		<input type="password" placeholder="Password" id="login-signup-style" name="password" class="login_text-box"><br>
		<span id="errormsg">{{error}}</span>
		<input type="submit" id="log">
	</form><br>

	<form method="post" action="/signup">
		<h2>Sign Up</h2>
		<input type="text" placeholder="email" id="login-signup-style" name="email2" class="login_text-box2"> 
		<br>
		<input type="text" placeholder="name" id="login-signup-style" name="name" class="login_text-box2"><br>
		<input type="password" placeholder="Password" id="login-signup-style" name="password2" class="login_text-box"><br>
		<input type="submit" value="signup">
	</form>
	</td>
	<td class="clear">
	</td>
</tr>
<tr>
	<td colspan="2" class="bottom_info">

	</td>
</tr>
</table>
	<script>
		function myFunction() {
			var rand_num = Math.floor((Math.random() * 10) + 1);
			background = "url('/images/rowingpic" + String(rand_num) + ".jpg')";
			document.body.style.backgroundImage = background;
		}

		if((navigator.userAgent.match(/iPhone/i)) || 
		 (navigator.userAgent.match(/iPod/i))) {
		   if (document.cookie.indexOf("iphone_redirect=false") == -1){
		   var css_link = document.getElementById('linker');
		   css_link.setAttribute("href", "css/style_iphone.css");
		}
		}
	</script>
</body>
</HTML>
{% endblock %}