<!doctype html>
<html >
<head>
  <meta charset="utf-8">
  <meta name="Paul Ventisei" content="Rowing Times">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<!--
  <link rel="stylesheet" href="jquery/jquery.mobile-1.4.5.min.css"/>
-->
  <link rel="stylesheet" href="jquery/RowTimeTheme.min.css" />
  <link rel="stylesheet" href="jquery/jquery.mobile.icons.min.css" />
  <link rel="stylesheet" href="jquery/jquery.mobile.structure-1.4.5.min.css" />
  <script src="jquery/jquery-1.11.3.min.js"></script>
  <script src="jquery/jquery.mobile-1.4.5.min.js"></script>
  <script src="jquery/jquery.tablesorter.js"></script>
  <script type="text/javascript" src="js/rcn_detail_script.js"></script>
  <script src="https://apis.google.com/js/client.js?onload=init"></script>

  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

</head>

<body>

  <!-- Page - show events -->
<div data-role="page" class="ui-responsive-panel" id="events">
	<div data-role="header" data-position="fixed">
    	<h2><img src="/images/logo.jpg" style="margin:0px; padding:0px;" width="50px"/></h2>
    	<a href="#nav-panel" data-icon="bars" data-iconpos="notext">Menu</a>
      <a href="#eventsettings" data-icon="gear" data-iconpos="notext">Settings</a>
  	</div> <!-- /Header -->

	<div data-role="main" id="eventList" class="ui-content jqm-content jqm-fullwidth">
		<ul data-role="listview" class="ui-content jqm-content jqm-fullwidth" data-inset="true" data-filter="true">
	{% for event in events %}
			<li>
          <a href="/loadcrews?event_key={{event.key.urlsafe()}}" data-transition="slide">{{event.event_name}} <br>on {{event.event_date}}</a>
      </li>
	{% endfor %}
		</ul>
	</div> <!-- /Content -->

  <div data-role="panel" data-display="overlay" data-theme="a" id="nav-panel">

    <ul data-role="listview">
            <li data-icon="delete"><a href="#" data-rel="close">Close menu</a></li>
            {% if user.admin %}
                <li><a href="/uploadevents" data-transition="slide">Create Event</a></li>
            {% endif %}
                <li><a href="#help" data-transition="slide">Help</a></li>
                <li><a href="#about" data-transition="slide">About Row Time</a></li>
    </ul>

  </div><!-- /panel -->

  <div data-role="panel" data-position="right" data-display="overlay" data-theme="a" id="eventsettings">

{% if logged_in %}
      <h2>Settings for {{user.name}}</h2>

      <label for="email">E-mail:</label>
      <input type="text" placeholder="E-mail" id="email" name="email" value = "{{user.email}}" data-clear-btn="true" data-mini="true">
       <a href="/logout" class="ui-btn ui-corner-all">Logout</a>

{% else %}
      <h2>Login</h2>
      <h5>(FOR EVENT ADMINS ONLY)</h5>
        <form data-ajax="false" method="post" action="/login">

            <label for="email">E-mail:</label>
            <input type="text" placeholder="E-mail" id="login-signup-style" name="email" class="login_text-box2" value = "" data-clear-btn="true" data-mini="true"> 


            <label for="password">Password:</label>
            <input type="password" placeholder="Password" id="login-signup-style" name="password" class="login_text-box" data-clear-btn="true" autocomplete="off" data-mini="true">

            <input type="submit" value="Login" id="login-button">
        </form>

{% endif %}
      <h2>Time Synchronisation Check - Results</h2>
      <div>
          Time on Your Device: <span class="ClientTime"></span><p>
          Time at The Server: <span class="ServerTime"></span><p>
          Difference in ms: <span class="TimeDiff"></span><p>
          latency in ms: <span class="Latency"></span>
      </div>
  </div><!-- /panel -->
   <div data-role="footer" data-position="fixed">
    <span class="connection-status">Connecting...</span>
   </div>
 </div><!-- /page -->

<div data-role="page" id="help">

    <div data-role="header">
        <h1>Help Page</h1>
        <a href="#" data-rel="back" data-icon="back" data-iconpos="notext">back</a>
    </div><!-- /header -->
    <br>
    <div data-role="main" data-inset="true" class="ui-content ui-body-a ui-corner-all jqm-content">
    	<h2>Help</h2>
				<p>note: it is essential to have a form of connection to the internet to use this, however the connection doesn’t have to be very fast.</p>
				<div data-role="collapsible">
					<h1>Help for Spectators</h1>
						<h2> What is Rowtime? </h2>
						<p>This website is for rowing events and is dedicated to giving spectators and competitors instant feedback on what times they have achieved in time trial races. We also seek to make events easier and less time consuming to run for event hosts.</p></br>

						<h2> How does it work? </h2>
						<p>You simply go to the URL of this website (which you must have already found to be reading this) and select the RowTime event that you are attending. Once you have done this you should see a page with all the boats and their current times and status (e.g. started, finished, not started). The information on this page will auto update so that you always know what’s going on, and you will immediately know the times of finished crews as well as the elapsed time of unfinished crews.</p>

				</div>
				<div data-role="collapsible">
					<h1>Help For Event Hosts</h1>
						<h2>How do I delete accidental inputs?</h2>
						<p>If you accidentally start or stop a crew you can delete this input by swiping from left to right on the pink block containing the crew’s name, this will bring up a text box asking if this is what you meant to do, Click ‘ok’ and the data will be deleted as if they had never started/stopped.</p></br>
						<h2>How does it work for event hosts?</h2>
						<p>If you are looking to host an event using the RowTime system you can contact the developers of the website using this email: row.time@outlook.co.uk. Once you are given an account to host an event with you can input the crews which are attending your event by submitting a ‘.csv’ file to our ‘Create Event’ page. You can also establish when and where the event is, and give a short description of it. Now you can use our website to time your event, you will require a logged in person at your start point and another at your end point, both will use the event page to time from each point.<img src="/images/timingPage.png" width="95%"/></p></br>
						<h2>How should I layout my ‘.csv’ file when creating an event?</h2>
						<p>You should use excel to make this file, or use google spreadsheets. Use the first row to put in some headings (the computers will ignore the first row so these are just for your benefit knowing what each column relates to), the data should be arranged like this (left to right).</br></br>
              crew number</br>
              crew name</br>
              pic file</br>
              crew type</br>
              rower count</br>
              cox y/n</br></br>
              The Pic file is simply the name of the rowing club (no capitals and no spaces, and shortening ‘rowing club’ to rc, and ‘boat club’ to bc), and make sure to add ‘.gif’ at the end. This will insert the colors of the blades next to each crew. <img src="/images/uploadEvent.png" width="95%"/></p>
        </div>

    </div><!-- /content -->
    <div data-role="footer" data-position="fixed">
      <span class="connection-status">Connecting...</span>
    </div>
</div><!-- /page -->

<div data-role="page" id="about">

    <div data-role="header">
        <h1>About Page</h1>
        <a href="#" data-rel="back" data-icon="back" data-iconpos="notext">back</a>
    </div><!-- /header -->
    <br>
    <div data-role="main" data-inset="true" class="ui-content ui-body-a ui-corner-all jqm-content">

        <p>This website was coded by Paul Ventisei and Alex Ventisei, but mostly by Paul Ventisei. But Alex did most of the important jobs like management. We’ve worked on this website for the benefit of all athletes and spectators and we hope you enjoy it!</br></br>

If you have any questions on how this website works and what to do with your time then email us at: <b>row.time@outlook.co.uk</b></br></br>

Thanks</p>


    </div><!-- /content -->
    <div data-role="footer" data-position="fixed">
      <span class="connection-status">Connecting...</span>
    </div>
</div><!-- /page -->


</body>
</html>
