
{% extends "templates/layout.html" %}
{% block main %}
 <script src="https://apis.google.com/js/client.js?onload=init"></script>
 <button id="get_list" onClick = "get_times()">get time list</button>
 
 <script type="text/javascript">
 //create the array to hold the times for each crew as a global variable accessible by all the functions, the index for the array will be the order in which the crews are displayed on the screen//
    var crew_times = [];
    var last_timestamp = new Date(800000);

    //initialise the API calls to the rowtime-26 server.//
	  function init() {
		var ROWTIME_API = 'http://localhost:9000/_ah/api';
	    //var ROWTIME_API = 'https://rowtime-26.appspot.com/_ah/api';
		gapi.client.load('observedtimes', 'v1', function() {api_loading_init();
		}, ROWTIME_API);
	  }

	  function api_loading_init() {
	  	//this function is called when the API is initialised, put anything here we need to do at the start, for example get an initial read of the obeserved times if we need it//
		console.log("ROWTIME_API loaded and init function called");
	  }

	  function record_observed_time(observed_time) {
		// Insert an observed time into the rowtime-26 server//
		var recordtime = gapi.client.observedtimes.times.timecreate(observed_time).execute(function(resp) {
	  		console.log(resp);
	  	});
	  }

      function get_times(){
       // Get the list of observed times since the last time it was requested//
       var request = gapi.client.observedtimes.times.listtimes({"event_id":"{{event.urlsafe()}}", "last_timestamp":last_timestamp.toISOString()});
       console.log("timestamp as ISO string"+last_timestamp.toISOString())
          // Step 6: Execute the API request
       request.then(function(resp) {
        	last_timestamp = new Date(resp.result.last_timestamp);
        	console.log("timestamp as ISO string from result "+last_timestamp.toISOString());

        	for(var i=0; i<resp.result.times.length; i++) {
        		update_time_list(resp.result.times[i]);
        	}
        	//now have list of times to apply to the screen TODO PV
          });
       }

       function update_time_list(time) {
       	//Update the times in the crew_times array and update the screen//
       	//1.  for every hit against a crew number process the observed time//
       	for (var i=0; i<crew_times.length; i++) {
       		if (crew_times[i].crew_number == time.crew) {
       			UpdateTimes(i, time.crew, new Date(time.time), time.stage);
       			}
       		}
       	}
       	
	//load the crew_times object with the crew times list retrieved from the database//
	function test_func() {
	    var data={{ data|safe }}; //get data passed from jinja2

	    for (var i=0; i < data.length; i++) {   //step through the data passed and assign it to crew_data
	    	crew_times.push(JSON.parse(data[i])); //convert the JSON string to an object
	    	console.log("put crew number " + crew_times[i].crew_number+" into the object array");
		}	

	}


	function myFunction() {

		var rand_num = Math.floor((Math.random() * 10) + 1);
		background = "url('/images/rowingpic" + String(rand_num) + ".jpg')";
		document.body.style.backgroundImage = background;
	}

	function UpdateTimes(indx, crew_num, time, stage){
		if (stage == 0){
			//a start time has been recorded//
			UpdateStartTime(indx, crew_num, time);
		} else if(stage ==1){
			//a stop time has been recorded//
			UpdateStopTime(indx,crew_num,time);
		} else { alert("stage parameter not set properly")}
	}

	function UpdateStartTime(indx, crew_num, time){
		var button = document.getElementById("button_"+crew_num);
		crew_times[indx].start_time_local = time; //start time
		crew_times[indx].stage++;
		var start_time_id = "start_"+crew_num;
		var start_time_textElement = document.getElementById(start_time_id);
		var the_button = document.getElementById(start_time_id);
		start_time_textElement.style.color = "green";
		start_time_textElement.value = time.toTimeString().replace(/.*(\d{2}:\d{2}:\d{2}).*/, "$1")+"."+("00"+time.getMilliseconds().toString()).slice(-3);
		button.value = "stop";
		button.style.color = "red";
	}

	function UpdateStopTime(indx,crew_num,time){
		var button = document.getElementById("button_"+crew_num);
		button.value = "Finished";
		crew_times[indx].end_time_local = time; //end time
		crew_times[indx].stage++;
		crew_times[indx].stage_delta = crew_times[indx].end_time_local - crew_times[indx].start_time_local;
		var delta = new Date(crew_times[indx].stage_delta);
		button.style.color = "";
		button.disabled = true;
		var stop_time_textElement = document.getElementById("stop_"+crew_num);
		var delta_time_textElement = document.getElementById("delta_"+crew_num);
		stop_time_textElement.value = time.toTimeString().replace(/.*(\d{2}:\d{2}:\d{2}).*/, "$1")+"."+("00"+time.getMilliseconds().toString()).slice(-3);
		delta_time_textElement.value = delta.toTimeString().replace(/.*(\d{2}:\d{2}:\d{2}).*/, "$1")+"."+("00"+delta.getMilliseconds().toString()).slice(-3);
		stop_time_textElement.style.color = "red";
		delta_time_textElement.style.color = "black";
	}


	function ClickButton(indx, crew_num, time, stage){
		var button = document.getElementById("button_"+crew_num);
		if (button.value == "start") {
			UpdateStartTime(indx, crew_num, time);
			stage = 0;
			var observed_time = {event_id: "{{event.urlsafe()}}",
								  timestamp: time,
								  crew: crew_num,
								  stage: stage,
								  time: time};
			record_observed_time(observed_time);
			var refresh=100; // Refresh rate in milli seconds
			mytime=setTimeout('update_time('+crew_num+')',refresh)
		}
		else if(button.value == "stop") {
			UpdateStopTime(indx, crew_num, time);
			stage = 1;
			var observed_time = {event_id: "{{event.urlsafe()}}",
								  timestamp: time,
								  crew: crew_num,
								  stage: stage,
								  time: time};
			record_observed_time(observed_time);
		}
		else {
			alert("button not start or stop");

		}
	}

	function update_time(crew_num) {
		var button = document.getElementById("button_"+crew_num)
		if (button.value == "Finished"){
			return;
		}
		var stop_time_textElement = document.getElementById("stop_"+crew_num);
		var start_time_textElement = document.getElementById("start_"+crew_num);
		var difference = new Date(); //work out differnce "- crew_times[crew_index].start_time;""
		var d = difference.toTimeString().replace(/.*(\d{2}:\d{2}:\d{2}).*/, "$1")+"."+("00"+difference.getMilliseconds().toString()).slice(-3);
		stop_time_textElement.value = d;
		var refresh=10; // Refresh rate in milli seconds
		var mytime=setTimeout('update_time('+crew_num+')',refresh);
	}
</script>
<body onload="myFunction(); init(); test_func();" id="body">

  <header>
    <h2>{{event}} timing</h2>
  </header>
  <span id="username">Hi {{user.name}}</span><br><br>

<table border="0" style="padding-top: 20px;">
	<tr style="outline: thin solid">
		<td style="border-right-width: 1px; border-right-style: solid;">Crew No.</td>
		<td style="border-right-width: 1px; border-right-style: solid;">Crew Name</td>
		<td>Start</td>
		<td>Delta</td>
		<td>Stop</td>
	</tr>
{% for crew in crews %}
	<tr style="height:75px;">
		<td style="border-right-width: 1px; border-right-style: solid;">{{crew.crew_number}}</td>
		<td style="border-right-width: 1px; border-right-style: solid;">{{crew.crew_type}}</td>
		<td><input id="start_{{crew.crew_number}}" type="datetime" placeholder="Start"/></td>
		<td><input id="delta_{{crew.crew_number}}" type="datetime" placeholder="delta"/></td>
		<td><input id="stop_{{crew.crew_number}}" type="datetime" placeholder="Stop"/></td>
		<td><input type="button" value="start" id="button_{{crew.crew_number}}" style="font-size: 30px;" onClick="ClickButton({{loop.index-1}}, {{crew.crew_number}}, new Date(), 'none');"/></td>
	</tr>
{% endfor %}
</table><br>
</body>
{% endblock %}
