{% extends "templates/layout.html" %}
{% block main %}

<body>
  <header>
    <h1><a href="/">Rowing Times - Choose and Event</a></h1>
  </header>

  <span id="username">{{user.name}}</span><br><br>

{% for event in events %}
<table class="outer">
	<tr><th></th><th>{{event.event_name}}</th><th><a href="/loadcrews?event_key={{event.key.urlsafe()}}">details</a></th></tr>
	<tr><td align="left">date: {{event.event_date}}</td><th></th><td>type: {{event.event_desc}}</td></tr>
</table><br>
{% endfor %}

</body>
{% endblock %}

