
{% extends "templates/layout.html" %}
{% block main %}
     // Step 1: Load JavaScript client library
 <script src="https://apis.google.com/js/client.js?onload=init"></script>

 <!--Add a button for the user to click to initiate auth sequence -->
    <button id="get_list" onClick = "get_times()">get time list</button>
    <script type="text/javascript">

	  function init() {
		var ROWTIME_API = 'http://localhost:9000/_ah/api'
	    //var ROWTIME_API = 'https://rowtime-26.appspot.com/_ah/api';
		gapi.client.load('observedtimes', 'v1', function() {api_loading_init();
		}, ROWTIME_API);
	  }

	  function api_loading_init() {
		alert("ROWTIME_API loaded and init function called");
	  }

			// Insert an observed time
	  function record_observed_time(observed_time) {
		var recordtime = gapi.client.observedtimes.times.timecreate.post(observed_time).execute(function(resp) {
	  		console.log(resp);
	  	});
	  }

      // Load the API and make an API call.  Display the results on the screen.
      function get_times(){
        var request = gapi.client.observedtimes.times.listtimes({"event_id":"{{event.urlsafe()}}"});
          // Step 6: Execute the API request
        request.then(function(resp) {
        	data = resp.result;
        	alert(data.event_id);
        	//now have list of times to apply to the screen TODO PV
          });
       };
    </script>







<script type="text/javascript">

/*	// Get the list of previous scores
	gapi.client.tictactoe.scores.list().execute(function(resp) {
	  console.log(resp);
	});
		}
	    function test_func() { 	//this function is run onload and paints the screen with the 

									//crews and their times
	        var data={{ data|safe }}; //get data passed from jinja2
	        var crew_data = []			//create and array to hold the crew data

	        for (i=0; i < data.length; i++) {   //step through the data passed and assign it to crew_data
	        	crew_data[i]=JSON.parse(data[i]); //convert the JSON string to an object
	        

	 	       	var btn = document.createElement("BUTTON");        // Create a <button> element
				var t = document.createTextNode(crew_data[i].crew_number.toString());       // Create a text node
				btn.appendChild(t);                                // Append the text to <button>
				document.body.appendChild(btn);                    // Append <button> to <body>
			}	

	    } //all the above function does not yet work PV
*/
</script>


<body onload="myFunction(); init();" id="body">
<script>

	function myFunction() {

		var rand_num = Math.floor((Math.random() * 10) + 1);
		background = "url('/images/rowingpic" + String(rand_num) + ".jpg')";
		document.body.style.backgroundImage = background;
	}

	function ClickButton(crew_num){
		var button = document.getElementById("button_"+crew_num);
		if (button.value == "start") {
			var start_time = new Date(); //start time
			var start_time_id = "start_"+crew_num;
			var start_time_textElement = document.getElementById(start_time_id);
			start_time_textElement.style.color = "green";
			start_time_textElement.value = start_time.toTimeString();
			button.value = "stop";
			button.style.color = "red";
			var refresh=100; // Refresh rate in milli seconds
			mytime=setTimeout('update_time('+crew_num+')',refresh)
		}
		else if(button.value == "stop") {
			button.value = "Finished"
			button.style.color = "";
			button.disabled = true;
			var stop_time = new Date(); //stop time fetch from back end here
			var stop_time_textElement = document.getElementById("stop_"+crew_num);
			stop_time_textElement.value = stop_time.toTimeString();
			stop_time_textElement.style.color = "red";
		}
		else {
			alert("button not start or stop");

		}
	}

	function update_time(crew_num) {
		var button = document.getElementById("button_"+crew_num)
		if (button.value == "Finished"){
			return;
		}
		var stop_time_textElement = document.getElementById("stop_"+crew_num);
		var start_time_textElement = document.getElementById("start_"+crew_num);
		var d = new Date().toTimeString().replace(/.*(\d{2}:\d{2}:\d{2}).*/, "$1");
		stop_time_textElement.value = d;
		var refresh=100; // Refresh rate in milli seconds
		var mytime=setTimeout('update_time('+crew_num+')',refresh);
	}
</script>

  <header>
    <h2>{{event.event_key}} timing</h2>
  </header>
  <span id="username">Hi {{user.name}}</span><br><br>

<table border="0" style="padding-top: 20px;">
	<tr style="outline: thin solid">
		<td style="border-right-width: 1px; border-right-style: solid;">Crew No.</td>
		<td style="border-right-width: 1px; border-right-style: solid;">Crew Name</td>
		<td>Start</td>
		<td>Stop</td>
	</tr>
{% for crew in crews %}
	<tr>
		<td style="border-right-width: 1px; border-right-style: solid;">{{crew.crew_number}}</td>
		<td style="border-right-width: 1px; border-right-style: solid;">{{crew.crew_type}}</td>
		<td><input id="start_{{crew.crew_number}}" type="datetime" placeholder="Start"/></td>
		<td><input id="stop_{{crew.crew_number}}" type="datetime" placeholder="Stop"/></td>
		<td><input type="button" value="start" id="button_{{crew.crew_number}}" onClick="ClickButton({{crew.crew_number}});"/></td>
	</tr>
{% endfor %}
</table><br>
</body>
{% endblock %}
