body{
	background-image: url('/images/rowingpic.tiff');
	background-size: 100%;
	background-repeat: repeat-y;
}
h1{
	font-family: Arial;
	font-size: 40px;
	font-weight: 900;
	opacity: 1;
}
h2{
	text-align: center;
	font-family: Arial;
	font-size: 20px;
	padding-left: 120px;
	padding-right: 19px;
	opacity: 1;
}
div#menubar_1 > a{
	text-align: center;
	font-family: Arial;
	text-decoration: none;
	margin-left: 60px;
	border-width:0px;
	padding: 10px 10px 10px 10px;
	background-color: #333;
	color: #999;
	font-size: 19px;
	border-radius: 3px;
	-ms-transition: background 0.3s linear 0s, color 0.3s linear 0s,box-shadow 0.3s ease;
	-o-transition: background 0.3s linear 0s, color 0.3s linear 0s,box-shadow 0.3s ease;
	transition: background 0.3s linear 0s, color 0.3s linear 0s,box-shadow 0.3s ease;
}

div#menubar_1 > a:hover{
	background: rgba(234, 127, 0, 1);
	color: #FFF;
	box-shadow: 0px 0px 15px #000000;
}
div#log > a{
	font-family: Arial;
	font-size: 20px;
	padding: 10px 10px 10px 10px;
	background: #333;
	color: #999;
	border-radius: 5px;
	text-decoration: none;
	transition: background 0.3s linear 0s, color 0.3s linear 0s;
}
div#log > a:hover{
	background: rgba(234, 127, 0, 1);
	color: #FFF;
}

#username{
	font-family: Arial;
	font-weight: bold;
	font-size: 30px;
}

table{
	border-radius: 20px;
	background-color:rgba(255,255,255,.6);
	-moz-box-shadow: 11px 11px 37px #000000; 
	box-shadow: 11px 11px 37px #000000;
	-webkit-box-shadow: 11px 11px 37px #000000;
}
input[readonly]{
	background: grey;
}
.table_1{
	background-image: URL("/images/noise_back.PNG");
	background-size: 5%;
}
.table_2{
	margin-top:100px;
	background-image: URL("/images/noise_back.png");
	background-size: 10%;
	width: 895px;
}
.golfer_table{
	margin-top:100px;
	background-image: URL("/images/noise_back.png");
	background-size: 10%;
	width: 895px;
}
p{
	font-family: Arial;
	font-weight: bold;
	display:inline-block;
	margin-right:5px;
	opacity: 1;
}
#title span{
	font-size: 1.5em;
	color: rgba(234, 127, 0, 1);
}
.text_space{
	margin-bottom: 25px;
}
.text_space2{
	margin-bottom: 2px
}

.text_club{
	background: white; 
	font-size: 25px;
	font-family: Arial;
	color: rgba(0,0,0,.8); 
	width: 300px; 
	padding: 6px 1px 6px 15px; 
	border-radius: 5px;
	box-shadow: 0px 0px 1px #ccc inset; 
	transition:200ms all ease;
	outline:0;

}
.text_name{
	background: white; 
	font-size: 25px;
	font-family: Arial;
	color: rgba(0,0,0,.8); 
	width: 300px; 
	padding: 6px 1px 6px 15px; 
	border-radius: 5px;
	box-shadow: 0px 0px 1px #ccc inset; 
	transition:200ms all ease;
	outline:0;
}

.text_club{
	background: white; 
	font-size: 25px;
	font-family: Arial;
	color: rgba(0,0,0,.8); 
	width: 300px; 
	padding: 6px 1px 6px 15px; 
	border-radius: 5px;
	box-shadow: 0px 0px 1px #ccc inset; 
	transition:200ms all ease;
	outline:0;
}
.text_email{
	background: white; 
	font-size: 25px;
	font-family: Arial;
	color: rgba(0,0,0,.8); 
	width: 300px; 
	padding: 6px 1px 6px 15px; 
	border-radius: 5px;
	box-shadow: 0px 0px 1px #ccc inset; 
	transition:200ms all ease;
	outline:0;
}

.text_handicap{

	background: white; 
	font-size: 25px;
	font-family: Arial;
	color: rgba(0,0,0,.8); 
	width: 100px; 
	padding: 6px 1px 6px 15px; 
	border-radius: 5px;
	box-shadow: 0px 0px 1px #ccc inset; 
	transition:200ms all ease;
	outline:0;
}
#errormsg{
	color: red;
	font-size: 25px;
}
#text3 
{ 
	background: white; 
	width: 200px;
	font-size: 25px;
	font-family: Arial;
	color: rgba(0,0,0,.8); 
	padding: 6px 1px 6px 15px; 
	border-radius: 5px;
	box-shadow: 0px 0px 1px #ccc inset; 
	transition:200ms all ease;
	outline:0;
} 

#text3:hover 
{ 
	width:270px;
	box-shadow: 0px 0px 10px rgba(234, 127, 0, .9) inset;
} 