
{% extends "templates/layout.html" %}
{% block main %}
<body>
<table align="center" border="0" bgcolor="white" class="table_2" height="400px">
<form action="/updateround" method="post">
    <thead>
     <tr>
       <th>  Golf Course: <select>
         					{% for course in course_list %}
         					<option value = '{{course.key}}'>{{course.name}}</option>
         					{% endfor %}}
         					</select>
        </th>
        <th> Add Hole Details: <input type = "radio" name = "scard.hole_detail" value = "{{scard.hole_detail}}"></th>
        <th> Strokes Received: <input type = "number" name = "scard.total_strokes" value = "{{scard.total_strokes}}"></th>
     </tr>
     	<td>Golfer Name: <select>
     						{% for golfer in golfer_list %}
     						<option value = '{{golfer.key}}'>{{golfer.name}}</option>
     						{% endfor %}
     						</td>
     						<td> Gross Score: <input type = "number" name = "scard.total_gscore" value = "{{scard.total_gscore}}"></td>
     						<td> Stableford Points: <input type = "number" name = "scard.total_points" value = "{{scard.total_points}}"></td>
     <tr>
          					<td> Net Score: <input type = "number" name = "scard.total_gscore" value = "{{scard.total_nscore}}"></td>
     						<td> Course Par: <input type = "number" name = "scard.total_par" value = "{{scard.total_par}}"></td>
     						<td> under/over Par: <input type = "number" name = "scard.total_underpar" value = "{{scard.total_underpar}}"></td>
     </tr>
        </thead>
        <tbody>
       		<tr><td><input type="submit" value="update"></td></tr>
       		<tr><input type="text" name="comp_key" value="{{comp.key.urlsafe()}}"/></tr>
       </tbody>
</form>
</table>
</body>
{% endblock %}
