{% extends "templates/layout.html" %}
{% block main %}
<body><form method="post" action="/golfer">
	<table align="center" border="0" bgcolor="white" class = "golfer_table">
		<tr><td align="center" valign="top" colspan="2"><h1 id="title">Golfer Add/Update</h1></td></tr>
		<tr><td align="right" colspan = "1">Golfer id: </td><td align = "left" colspan="1"><input type="text"  name="golfer_id" class="text_name" value="{{golfer_id}}"></td></tr>
		<tr><td align="right">Golfer name: </td><td align = "left"><input type="text" placeholder="name" name="name" class="text_name" value = "{{golfer.name}}"> </td></tr>
		<tr><td align="right" width="50%">Golf Club: </td><td align = "left" width="50%"><input type="text" placeholder="golf club" name="club" class="text_club" value = "{{golfer.club}}"></td></tr>
		<tr><td align="right" width="50%">Current Handicap: </td><td align = "left" width="50%"><input type="number" placeholder="current handicap" name="current_handicap" class="text_handicap" value = "{{golfer.current_handicap}}"></td></tr>
		<tr><td align="right" width="50%">email: </td><td align = "left" width="50%"><input type="text" placeholder="email" name="email" class="text_email" value = "{{golfer.email}}"></td></tr>
		<tr><td align="center" colspan="2"><span id="errormsg">{{error}}</span></td></tr>
		<tr><td align="center" colspan="2"><input type="submit" id="log"></td></tr>
	</table></form>
</body>
{% endblock %}
